@{
    ViewBag.Title = "Contacto";
}


<div class="container my-5">
    <h1 class="text-center mb-4">Nuestro Equipo</h1>
    <div class="row">
        <!-- Integrante 1 -->
        <div class="col-md-3">
            <div class="card text-center">
                <img src="ruta-a-tu-foto-1.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Foto de Integrante 1" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Nombre Integrante 1</h5>
                    <p class="card-text">
                        <strong>Gmail:</strong> email1@gmail.com<br>
                        <strong>Redes Sociales:</strong> user<br>
                        <strong>Teléfono:</strong> 123-456-7890
                    </p>
                </div>
            </div>
        </div>

        <!-- Integrante 2 -->
        <div class="col-md-3">
            <div class="card text-center">
                <img src="ruta-a-tu-foto-2.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Foto de Integrante 2" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Nombre Integrante 2</h5>
                    <p class="card-text">
                        <strong>Gmail:</strong> email2@gmail.com<br>
                        <strong>Redes Sociales:</strong> user<br>
                        <strong>Teléfono:</strong> 987-654-3210
                    </p>
                </div>
            </div>
        </div>

        <!-- Integrante 3 -->
        <div class="col-md-3">
            <div class="card text-center">
                <img src="ruta-a-tu-foto-3.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Foto de Integrante 3" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Nombre Integrante 3</h5>
                    <p class="card-text">
                        <strong>Gmail:</strong> email3@gmail.com<br>
                        <strong>Redes Sociales:</strong> user<br>
                        <strong>Teléfono:</strong> 456-789-0123
                    </p>
                </div>
            </div>
        </div>

        <!-- Integrante 4 -->
        <div class="col-md-3">
            <div class="card text-center">
                <img src="ruta-a-tu-foto-4.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Foto de Integrante 4" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Nombre Integrante 4</h5>
                    <p class="card-text">
                        <strong>Gmail:</strong> email4@gmail.com<br>
                        <strong>Redes Sociales:</strong> user<br>
                        <strong>Teléfono:</strong> 654-321-0987
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>