@{
    ViewBag.Title = "Contacto";
}


<div class="container my-5">
    <div class="row">
        <!-- Integrante 1 -->
        <div class="col-md-3">
            <div class="cardc text-center">
                <img src="/img/bruno.png" class="card-img-top rounded-circle mx-auto mt-3" alt="Foto de Integrante 1" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Bruno Massaccesi</h5>
                    <p class="card-text">
                        <strong>Gmail:</strong> massaccesibrunooo@gmail.com<br>
                        <strong>Redes Sociales:</strong>ig: brunomassaccesi<br>
                        <strong>Teléfono:</strong> 11-6116-5240
                    </p>
                </div>
            </div>
        </div>

        <!-- Integrante 2 -->
        <div class="col-md-3">
            <div class="cardc text-center">
                <img src="/img/blaser.png" class="card-img-top rounded-circle mx-auto mt-3" alt="Foto de Integrante 2" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Nicolas Blaser</h5>
                    <p class="card-text">
                        <strong>Gmail:</strong> nicobla8@gmail.com<br>
                        <strong>Redes Sociales:</strong>ig: nicolasblaser<br>
                        <strong>Teléfono:</strong> 11-5710-5006
                    </p>
                </div>
            </div>
        </div>

        <!-- Integrante 3 -->
        <div class="col-md-3">
            <div class="cardc text-center">
                <img src="/img/bruno.png" class="card-img-top rounded-circle mx-auto mt-3" alt="Foto de Integrante 3" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Facundo Lewcowicz</h5>
                    <p class="card-text">
                        <strong>Gmail:</strong> faculewco7@gmail.com<br>
                        <strong>Redes Sociales:</strong>ig: faculewko<br>
                        <strong>Teléfono:</strong> 11-8945-2178
                    </p>
                </div>
            </div>
        </div>

        <!-- Integrante 4 -->
        <div class="col-md-3">
            <div class="cardc text-center">
                <img src="/img/ghelman.png" class="card-img-top rounded-circle mx-auto mt-3" alt="Foto de Integrante 4" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Tiago Ghelman</h5>
                    <p class="card-text">
                        <strong>Gmail:</strong> tiagoghel7@gmail.com<br>
                        <strong>Redes Sociales:</strong>ig: tiagoghelman<br>
                        <strong>Teléfono:</strong> 11-7892-4512
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>