@{
    ViewData["Title"] = "index";
}


<div>
<h1 class="logoi">
    <img src="../img/fuego.png" alt="Icono de fuego" class="icono-fuego">
    DreamMatch
</h1>


            <h3 class="tx1" >
            Sabemos que cada sueño comienza con un paso. Si tu pasión es el fútbol y anhelas brillar en el campo, estás en el lugar correcto. 

            Nos dedicamos a transformar tus aspiraciones en oportunidades reales.

            Nuestro objetivo es ayudarte a seguir tus sueños y brindarte las herramientas necesarias para destacar en el mundo del fútbol. 
            </h3>


            <h3 class="tx2" >
            A través de pruebas en diferentes clubes, conectamos a jóvenes talentosos con las oportunidades que merecen. Creemos en tu potencial y en tu dedicación, y estamos aquí para apoyarte en cada etapa de tu viaje.

            No importa dónde estés en tu camino, cada día es una nueva oportunidad para crecer y mejorar. Recuerda, los grandes futbolistas no solo se destacan por su talento, sino también por su perseverancia y compromiso. En Dream Match, te motivamos a trabajar duro, a soñar en grande y a nunca rendirte.


            </h3>
</div>



