@{
    ViewData["Title"] = "pruebasDisponibles";
}


<h1 class="h1disponibles">Pruebas Disponibles</h1>




<div class="card-group">
  <div class="card">
    <img src="../img/atlanta.png" class="card-img-top-d" alt="...">
    <div class="card-body">
      <h5 class="card-title">Atlanta</h5>
      <p class="card-text">Ubicación: Av.Dorrego 651, villa crespo, Caba.</p>
      <p class="card-text">Fecha: 27/09/2024</p>
      <p class="card-text">Horario: 17:00Hs</p>
<button type="submit" class="login-button">Saber Mas</button>
    </div>
    <div class="card-footer">
  
    </div>
  </div>
  <div class="card">
    <img src="../img/ferro.png" class="card-img-top-d" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ferro</h5>
      <p class="card-text">Ubicación: Av. Avellaneda 124, Caballito, Caba.</p>
        <p class="card-text">Fecha: 28/09/2024</p>
        <p class="card-text">Horario: 19:00Hs</p>
<button type="submit" class="login-button">Saber Mas</button>
    </div>
    <div class="card-footer">
    
    </div>
  </div>
  <div class="card">
    <img src="../img/river.png" class="card-img-top-d" alt="...">
    <div class="card-body">
      <h5 class="card-title">River</h5>
      <p class="card-text">Ubicación: Av. Pres. Figueroa Alcorta 7597, Caba</p>
            <p class="card-text">Fecha: 01/10/2024</p>
                  <p class="card-text">Horario: 15:30Hs</p>
<button type="submit" class="login-button">Saber Mas</button>
    </div>
    <div class="card-footer">
   
    </div>
  </div>
</div>