@{
    ViewData["Title"] = "registro";
}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="~/css/styles.css">
 
</head>
<body class="cuerpo">
    <script src="~/js/site.js"></script>
    <div class="login-container">
        <h2 class="login-title">Register</h2>

        <form action="@Url.Action("Registrar", "Account")" method="post" onsub class="login-form" onsubmit = "return validarLongitud()">
            <label for="username" class="login-label">Nombre Usuario </label>
            <input type="text" id="username" name="nombreUsuario" class="login-input" placeholder="Nombre Usuario" required>
            <p>@ViewBag.MensajeError</p>
          <label for="username" class="login-label">Gmail</label>
        <input type="email" id="username" name="gmail" class="login-input" placeholder="Gmail">
         <p id="mensajeError" style="color: red;"></p>

            <label for="password" class="login-label">Contrase単a</label>
            <input type="password" id="password" name="contrase単a" class="login-input" placeholder="Contrase単a" required>
               <p id="mensajeErro" style="color: red;"></p>

            <label for="photo" class="login-label">Foto:</label>
            <input type="text" name="foto" placeholder="Link Foto de Perfil" required>

            <label for="datetime" class="login-label">YYYY / MM / DD</label>
            <input type="date" id="datetime" name="nacimiento" class="login-input" placeholder="YYYY / MM / DD" required>

            <button type="submit" class="login-button-reg">Registrarse</button>

                    <div class="login-social-icons-rg">
                        <div class="login-icon"><img src="../img/google.png"></div>
                        <div class="login-icon"><img src="../img/facebook.png"></div>
                        <div class="login-icon"><img src="../img/asd.png"></div>
                    </div>

        </form>

        <div class="login-extra-options">
            <p class="login-register-text">多Ya tienes cuenta? <a href="@Url.Action("LogIn", "Home")" class="login-register-link">Inicia Sesion <b>Aqui</b></a></p>
        </div>
    </div>
</body>
</html>