@{
    ViewBag.Title = "Restablecer Contraseña";
}

<form asp-action="ActualizarContraseña" method="post">
    <div class="resset">
            <h1 class="tituloresset">Restablecer Contraseña</h1>
            <label for="gmail" class="login-label">Gmail</label>
            <input type="password" id="password" name="contraseña" class="login-input" placeholder="Nueva Contraseña" required>
            <input type="password" id="password" name="ConfirmarContraseña" class="login-input" placeholder="Confirmar Nueva Contraseña" required>
            <button type="submit" class="login-button">Actualizar</button>
    </div>
</form>
