@{
    ViewBag.Title = "Restablecer Contraseña";
}
<h1>Restablecer Contraseña</h1>
<form asp-action="ActualizarContraseña" method="post">
    <input type="hidden" name="gmail" value="@ViewBag.Gmail" />
    <label for="nuevaContraseña">Nueva Contraseña:</label>
    <input type="password" name="nuevaContraseña" required minlength="6" />
    <button type="submit">Actualizar Contraseña</button>
</form>
<a href="/">Volver al inicio</a>
